/*
    Theme: 
*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
    position: fixed;
    width: 100%;
}
.wrapper{
   
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.clearfix{
    float: none;
    clear: both;
}

.text-rigth{
    text-align: right;
}
.mb-5{
    margin-bottom: 3%;
}
.col-2{
   
    width: 49%;
    float: left;
}
.col-3{
    
    width: 28%;
    float: left;
    margin: 2%;
}
.col-4{
    
    width: 20%;
    float: left;
    margin: 2%;
}
.img-responsive{
    width: 100%;
}
.btn{
    border: 1px solid blue;
    background-color: blue;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 2%;
}
.btn:hover{
    background-color: white;
    color: blue;
}
.text-center{
    text-align: center;
}
/*CSS NavBar */
.logo{
    width: 20%;
    /*border: 1px solid black;*/
    float: left;
    font-weight: bold;
}
.menu{
    width: 70%;
    /*border: 1px solid black;*/
    float: right;
}
.menu ul{
    list-style-type:none;
    
}
.menu ul li{
    display:inline;
    padding: 2%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
}
.menu ul li a:hover{
    color: black;
}

/* CSS for about section*/
.about{
    margin-bottom: 5%;
}
.fixed{
    margin-top: 8%;
}
.about-title{
    margin-bottom: 3%;
}
.about-subtitle{
    font-weight: bold;
    color: gray;
    margin-bottom: 8%;
}
.about-description{
    font-size: 1.2em;
    line-height: 30px;
    margin-bottom: 10%;
}
/* CSS for Project Section*/
.project{
    margin-bottom: 5%;
}
.project a{
    color: white;
    font-weight: bold;
}
.project a:hover{
    color: lightblue;
}
.project-box{
    position: relative;
}
.project-title{
    position: absolute;
    top: 80%;
    padding: 5%;
}
/* CSS for Skills section*/
.skills{
    margin-bottom: 5%;
}
.skill-box{
    margin-bottom: 3%;
}
.skill-title{
    font-size: 1.3em;
    line-height: 50px;
}
.skill-meter{
    border: 1px solid blue;
    width: 90%;
    float: right;
}
/* CSS for Blog section*/
.blog{
    margin-bottom: 5%;
}
.blog-title{
    padding: 5% 2%;
}

/* CSS for Footer*/
footer{
    padding-bottom: 5%;
    
}
footer ul{
    list-style-type: none;
}
footer ul li{
    display: inline;
    padding: 2%;
}
footer ul li a{
    text-decoration: none;
    
}

/* CSS for Mobile device*/
@media only screen and (max-width:768px) {
    
    .navbar{
        position: relative;
    }
    .logo{
        width: 100%;
        text-align: center;
        margin-bottom: 2%;
    }
    .menu{
        width: 100%;
        text-align: center;
        margin-bottom: 5%;
    }
    .fixed {
        margin-top: 5%;
        
    }
    .col-2,.col-3,.col-4{
        width: 100%;
        margin-bottom: 5%;
    }
    .col-2{
        text-align: center;
    }
    .skill-meter{
        width: 100%;
    }

}